body {
  background-color: rgb(10, 9, 26);
  color: white;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.App {
  background-color: aliceblue;
  background: rgb(38, 193, 160);
  background: linear-gradient(
    90deg,
    rgba(38, 193, 160, 1) 0%,
    rgba(22, 158, 129, 1) 54%,
    rgba(146, 107, 186, 1) 100%
  );
  width: 35%;
  margin: auto;
  margin-top: 2vh;
  border-radius: 60px;
  box-sizing: border-box;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.city {
  flex: 0.9;
  border: none;
  outline: none;
  opacity: 0.5;
  font-size: 20px;
  padding: 12px;
  border-radius: 31px;
  transition: 0.4s;
  max-width: 60%;
}

.Submit {
  padding: 13px;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.6s;
  width: 20%;
  border: none;
}

.Submit:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.city:hover {
  opacity: 0.7;
  transform: scale(1.08);
}

.city:focus {
  opacity: 0.8;
  transform: scale(1.08);
}

.temp {
  font-size: 1rem;
}
.weathercity {
  font-size: 50px;
  color: white;
  text-align: center;
}

.otherdetails {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.humiditycon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.windcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maindata {
  display: none;
}

.checked {
  display: block;
}

@media (max-width: 480px) {
  .temp {
    font-size: 2.5rem;
  }
  .App {
    width: 90%;
    margin: auto;
  }

  .Submit {
    width: 21%;
  }
}

@media (min-width: 480px) {
  h1 {
  }

  .temp {
    font-size: 2.5rem;
  }
  .App {
    width: 90%;
    margin: auto;
  }

  .Submit {
    width: 21%;
  }
}

@media (min-width: 900px) {
  .temp {
    font-size: 2.5rem;
  }
  .App {
    width: 35%;
    margin: auto;
  }

  .Submit {
    width: 21%;
  }
}
